{% extends 'base.html' %}
{% load static %}


{% block title %}Sign up to our system{% endblock %}

{% block css %}
<!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

        <!-- Css Styles -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
{% endblock %}

{% block hero_intro %}
 <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Sign up to our system</h4>
                        <div class="breadcrumb__links">
                            <span>Sign up to our system</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">
    {% if messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
        <form method="post">
            {% csrf_token %}
            <br>
            {{ form.as_p }}
            <button class="btn btn-primary rounded-pill px-4" type="submit">Submit</button><br><br>
        </form>
    </div>
{% endblock %}

{% block js %}
    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}